*{
    font-family: 'Josefin Sans', sans-serif;
    scroll-padding-top: 80px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    background: white;
    max-width: 100%;
    overflow-x: hidden;
}


.navigation{
    position: fixed;
    height: 100%;
    width: 300px;
    box-sizing: initial;
    background: rgb(242,138,27);
}

.ul1{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-left: 0.1px;
    padding-top: 90px;
}

.navigation ul li{
    position: relative;
    list-style: none;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
}


.navigation ul li a{
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: white;
}


.navigation ul li a i{
    position: relative;
    display: block;
    width: 60px;
    color: white;
    line-height: 25px;
    text-align: center;
}

.navigation ul li a .fas{
    font-size: 1.5em;
}

.navigation ul li a .title{
    position: relative;
    display: block;
    padding-left: 5px;
    line-height: 27px;
    white-space: normal;
    font-weight: bold;
}


.content2{
    margin-left: 300px;
}

.searchBox{
	width: 400px;
	height: 50px;
	background-color: white;
	border-radius: 30px;
	display: flex;
	align-items: center;
	padding-left: 3px;
    padding-right: 20px;
}

.searchBox i{
	font-size: 1.2em;
	color: #6ee0e0;
}

.searchBox input{
	flex: 1;
	height: 40px;
	border: none;
	outline: none;
	font-size: 18px;
	padding-left: 5px;
}

.fa-book,.fa-chart-line,.fa-user-circle,.fa-project-diagram,.fa-coins,.fa-cash-register,.fa-trophy,.fa-address-book,.fa-money-bill-wave-alt{
    font-size: 1.3em;
    float: right;
}

#btnReport, #btnCategory, #btnTask{
    background-color: rgb(242,138,27);
    float: right;
    color: white;
    border-radius: 10px;
}

#btnReport:hover, #btnCategory:hover, #btnTask:hover{
    background-color: white;
    color: rgb(242,138,27);
}

.chartBox{
    margin-left: 120px;
    width: 450px;
}

.catalog{
    width: 100%;
    height: 450px;
}

.imgcatalog{
    width: 100%;
    height: 70%;
    object-fit: cover;
}

.list-group-item{
    border: 0px;
}

.imgItem{
    width: 40px;
    height: 40px;
}

.active{
    background-color: rgb(189, 109, 24);
}

footer{
    margin-left: 300px;
    position: sticky;
    top: 100%;
    width: 85%;
    background-color: #6ee0e0;
}

.avatar{
    display: none;
}

.btnAvatar{
    padding-top: 5px;
    padding-left: 22px;
    align-items: center;
    height: 30px;
    width: 100px;
    background-color: rgb(242,138,27);
    color: white;
    border-radius: 8px;
    font-size: 15px;
}

.btnAvatar:hover{
    background-color: white;
    color: rgb(242,138,27);
}

thead{
    background-color: #6ee0e0;
    color: white;
}
