*{
    font-family: 'Kodchasan', sans-serif;
    scroll-padding-top: 80px;
}

.imghead{
    width: 100%; 
    height: 100%;
    transform: scaleX(0.5);
    opacity: 0;
    transition: 2s;
}



.headTitle .head{
    font-size: 55px;
    color: white;
    font-weight: bold;
    opacity: 0;
    transition: 2s;
}

.headTitle h4{
    opacity: 0;
    transition: 5s;
}

.headTitle .head.muncul, .headTitle h4.muncul , .imghead.muncul{
    transform: scale(1,1);
    opacity: 1;
}

nav{
    padding-left: 50px;
    padding-right: 250px;
    background-color: #3d516c;
    
}

.hr1{
    border: 4px solid #3d516c;
    border-radius: 2px;
}

.hr2{
    border: 4px solid white;
    border-radius: 2px;
}

.navbar-brand{
    font-size: 25px;
}

.nav-link{
    font-size: 20px;
}

.header-color{
    background: rgb(143,143,143);
    background: linear-gradient(0deg,rgba(255,255,255,0) 0%, #8f8f8f 1%, #3d516c 100%);
    overflow: hidden;
}

#about p, #feedback p{
    opacity: 0;
    transform: scale(1,0.5);
    transition: 2s;
}

#about p.muncul, #feedback p.muncul{
    transform: scale(1,1);
    opacity: 1;
}

.judul-1{
    font-size: 34px;
    color: #3d516c;
    font-weight: bold;
    opacity: 0;
    transform: translateY(30px);
    transition: 2s;
}

.judul-1.muncul{
    transform: translateY(0px);
    opacity: 1;
}

p{
    font-size: 20px;
    text-align: center;
}

.bordercard{
    width: 100%;
    border-width: 3px;
    border-color: #3d516c;
    transform: translateY(-20px);
    opacity: 0;
    transition: 2s;
}

.bordercard.muncul, .catalog.muncul{
    transform: translateY(0px);
    opacity: 1;
}

.form-control{
    width: 100%;
    border-width: 3px;
    border-color: #3d516c;
}

.ctitle{
    font-size: 30px;
}

#collections{
    background: rgb(239, 239, 239);
}

.catalog{
    width: 100%;
    height: 310px;
    transform: translateY(-5px);
    opacity: 0;
    transition: 2s;
    cursor: pointer;
}

.catalog.muncul:hover{
    transform: scale(1.02,1.02);
    transition: .5s;
}

.imgcatalog{
    width: 100%;
    height: 70%;
    object-fit: cover;
}

.seemore{
    font-size: 28px;
    color: #3d516c;
}

#features{
    background-color: #f6f6f6;
    overflow: hidden;
}

#features img{
    transform: rotate(180deg);
    opacity: 0;
    transition: 2.5s;
}

#features img.muncul{
    transform: rotate(0deg);
    opacity: 1;
}

#feedback{
    background-color:  #3d516c;
}

#button1{
    background-color: #3d516c;
    float: right;
    color: white;
}

#button1:hover{
    background-color: rgb(143,143,143);
    color: #3d516c;
}

footer{
    background-color:  #3d516c;
    color: white;
}

.fa-instagram,.fa-facebook,.fa-twitter,.fa-amazon{
    font-size: 40px;
}

.fa-star,.fa-glasses,.fa-check-double,.fa-shipping-fast{
    font-size: 65px;
    color:  #3d516c;
}

.fa-facebook-f,.fa-google{
    font-size: 20px;
}

#buttonhead{
    background-color: rgb(239, 239, 239);
    color: #3d516c;
    width: 100px;
    font-size: 18px;
}

#buttonhead:hover{
    background-color: white;
    color: #3d516c;
}

.modal{
    position: fixed;
}

.txtContact{
    text-align: left;
    margin-left: 20px;
}

#contact img{
    transform: scale(0.6,0.6);
    opacity: 0;
    transition: 2s;
}

#contact img.muncul{
    transform: scale(1,1);
    opacity: 1;
}
